
.section-banner {
  background-image: -moz-linear-gradient( 145deg, rgb(7,208,206) 0%, rgb(130,38,188) 100%);
  background-image: -webkit-linear-gradient( 145deg, rgb(7,208,206) 0%, rgb(130,38,188) 100%);
  background-image: -ms-linear-gradient( 145deg, rgb(7,208,206) 0%, rgb(130,38,188) 100%);
  background-image: linear-gradient( -55deg, rgb(7,208,206) 0%, rgb(130,38,188) 100%);
  .container {
    display: table;
    width: 100%;
    height: 100%;
    padding: 160px 25px 40px;
    a.btn, .btn {
      margin-top: 32px;
    }
  }
  .swiper-wrapper {
    height: auto !important;
  }
}
  .banner-img-box,
  .banner-text-box {
    position: relative;
    z-index: 20;
    display: table-cell;
    min-height: 100px;
    padding: 1px 1px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .banner-text-box {
    position: relative;
    z-index: 20;
    width: ($col*6);
    padding-right: ($col*1);
    vertical-align: middle;
  }
    .banner-desc {
      display: block;
      margin-bottom: 14px;
      @include font($light, 2em, $font-raleway, 1.25);
      letter-spacing: 0.7px;
      color: $white;
    }
    .banner-title {
      @include font($bold, 2.875em, $font-raleway, 1.25);
      letter-spacing: -0.3px;
      text-transform: uppercase;
      color: $white;
      span {
        color: $color-text3;
      }
    }
  .banner-img-box {
    position: relative;
    z-index: 15;
    width: ($col*6);
    height: 100%;
    img {
      position: absolute;
      max-width: calc(100% + 35px);
      height: auto;
      bottom: -153px;
      left: calc(50% + 65px);
      @include transform(-50%, 0);
    }
  }
.swiper-banner {
  &.swiper-container {
    overflow: visible;
  }
  .swiper-slide {
    min-height: 400px;
    height: 100vh;
    max-height: 750px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  width: 23px;
  height: 32px;
  margin-top: -16px;
  opacity: 0.5;
  background-image: none;
  @include transition($transition-other);
  &:hover {
    opacity: 1;
  }
}
.swiper-button-prev {
  .fa-chevron-left {
    font-size: 32px;
    color: $white;
  }
  .fa-angle-left {
    font-size: 52px;
    color: $white;
  }
}
.swiper-button-next {
  .fa-chevron-right {
    font-size: 32px;
    color: $white;
  }
  .fa-angle-right {
    font-size: 52px;
    color: $white;
  }
}

.swiper-banner {
  .swiper-button-prev {
    width: 120px;
    height: 100%;
    top: 0;
    margin-top: auto;
    left: 0;
    .fa-chevron-left {
      position: absolute;
      top: 50%;
      left: 60px;
      margin-top: -16px;
    }
  }
  .swiper-button-next {
    width: 120px;
    height: 100%;
    top: 0;
    margin-top: auto;
    right: 0;
    .fa-chevron-right {
      position: absolute;
      top: 50%;
      right: 60px;
      margin-top: -16px;
    }
  }
}
.section-what-we-do {
  padding: 60px 0 60px;
  background: rgba(255,255,255,0.12);
  background: -moz-linear-gradient(left, rgba(255,255,255,0.12) 0%, rgba(250,251,253,0.12) 50%, rgba(250,251,253,1) 50%, rgba(250,251,253,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.12)), color-stop(50%, rgba(250,251,253,0.12)), color-stop(50%, rgba(250,251,253,1)), color-stop(100%, rgba(250,251,253,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.12) 0%, rgba(250,251,253,0.12) 50%, rgba(250,251,253,1) 50%, rgba(250,251,253,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0.12) 0%, rgba(250,251,253,0.12) 50%, rgba(250,251,253,1) 50%, rgba(250,251,253,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0.12) 0%, rgba(250,251,253,0.12) 50%, rgba(250,251,253,1) 50%, rgba(250,251,253,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0.12) 0%, rgba(250,251,253,0.12) 50%, rgba(250,251,253,1) 50%, rgba(250,251,253,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafbfd', GradientType=1 );
}
  .what-we-do-list {
    display: table;
    width: 100%;
    min-height: 506px;
    overflow: hidden;
    //padding: 100px 0 30px;
    > li {
      padding: 20px 0;
      display: table-cell;
      width: ($col*6);
      vertical-align: middle;
      &:last-child {
        padding: 0 10px;
        background-color: #FAFBFD;
      }
    }
  }
    .what-we-box {
      padding-right: ($col*2);
      .content {
        * {
          margin-bottom: 26px;
          line-height: 1.65;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
      .section-title {
        margin-bottom: 10px;
        @include font($ex-bold, 2.875em, $font-raleway, 1.25);
        text-transform: uppercase;
        letter-spacing: -0.5px;
        color: $color-text2;
        .inverse & {
          color: $white;
          letter-spacing: 0.25px;
        }
      }
        .line {
          position: relative;
          margin-bottom: 32px;
          &:before,
          &:after {
            position: absolute;
            content: '';
            bottom: -10px;
            height: 8px;
            background-color: $color-text4;
          }
          &:before {
            width: 51px;
            left: 2px;
            @include border-radius(2em);
          }
          &:after {
            width: 8px;
            left: 56px;
            @include border-radius(50%)
          }
        }

    .swiper-what-we-do {
      max-width: 440px;
      margin: auto;
      text-align: center;
      .swiper-button-prev {
        .fa-chevron-left {
          color: rgb(45, 49, 88);
        }
        .fa-angle-left {
          color: rgb(45, 49, 88);
        }
      }
      .swiper-button-next {
        .fa-chevron-right {
          color: rgb(45, 49, 88);
        }
        .fa-angle-right {
          color: rgb(45, 49, 88);
        }
      }
      a.btn, .btn {
        min-width: 150px;
        margin-top: 35px;
      }
    }
      .what-we-img-wrap {
        max-height: 90px;
        margin: 0 auto;
        line-height: 90px;
        img {
          max-width: 100%;
          height: auto;
          vertical-align: middle;
        }
      }
      .what-we-title {
        margin-top: 40px;
        @include font($ex-bold, 1.125em, $font-raleway, 1.25);
        color: $color-text2;
        text-transform: uppercase;
        text-align: center;
      }


.section-got-challenge {
  position: relative;
  text-align: center;
  @include bg();
  background-color: #8226BC;
  &:after {
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -moz-linear-gradient( 145deg, rgb(7,208,206) 0%, rgb(130,38,188) 100%);
    background-image: -webkit-linear-gradient( 145deg, rgb(7,208,206) 0%, rgb(130,38,188) 100%);
    background-image: -ms-linear-gradient( 145deg, rgb(7,208,206) 0%, rgb(130,38,188) 100%);
    opacity: 0.9;
  }
  .container {
    position: relative;
    z-index: 10;
  }
  .content {
    @include font($light, 1.375em, $font-main, 1.45);
  }
  a.btn, .btn {
    margin-top: 30px;
  }
}

.section-recent-works {

}
  .recent-works-list,
  .recent-works-list .items-6{
    overflow: hidden;
    > li {
      overflow: hidden;
      position: relative;
      float: left;
      width: 50%;
      height: 640px;
      &:hover .recent-work-overlay {
        left: 0;
        z-index: 101;
      }
      img {
        position: absolute;
        z-index: 100;
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        @include transform();
      }
      &:nth-child(1) {
        width: 63.125%;
      }
      &:nth-child(4) {
        float: right;
        width: 63.125%;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(6) {
          width: 36.875%;
          height: 320px;
        .recent-work-overlay {
          padding: 25px 30px 25px;
        }

      }
    }
    &.items-5 {
      > li {
        &:nth-child(4){
          float: left;
          width: 36.875%;
        }
        &:nth-child(5){
          width: 63.125%;
          height: 640px;
        }
      }
    }
    &.items-4 {
      > li {
        &:nth-child(4) {
          width: 100%;
        }
      }
    }
    &.items-3 {
      > li {
      }
    }
    &.items-2 {
      > li {
        &:nth-child(1),
        &:nth-child(2) {
          height: 640px;
          width: 50%;
        }
      }
    }
    &.items-1 {
      > li {
        &:nth-child(1) {
          width: 100%;
        }
      }
    }
  }
    .recent-work-overlay {
      position: absolute;
      z-index: 10;
      display: table;
      width: calc(100% + 1px);
      height: 100%;
      top: 0;
      left: -101%;
      padding: 85px 60px 85px;
      background-color: rgba(45, 49, 88, 0.9);
      @include transition($transition-other);
      //.recent-works-list > li:hover & {
      //  left: 0;
      //}
      .content {
        max-width: 500px;
      }
    }
      .recent-work-decs {
        display: table-cell;
        width: 100%;
        min-height: 50px;
        vertical-align: bottom;
        color: $white;
      }
        .recent-work-type {
          max-width: 500px;
          display: block;
          margin-bottom: 7px;
          @include font($normal, 1.25em, $font-raleway, 1.25);
          color: $color-text4;
        }
        .box-title {
          max-width: 500px;
          @include font($ex-bold, 2.25em, $font-raleway, 1.15);
          text-transform: uppercase;
          color: $white;
          &.line {
            margin-bottom: 38px;
            &:after,
            &:before {
              bottom: -14px;
            }
          }
        }
