#sidebar {
  float: right;
  width: 310px;
  margin-top: 88px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 6px;
  border-left: 1px solid #E5E6EB;
}
  .sidebar-box {
    margin-top: -3px;
  }
  .widget-box {
    margin-bottom: 48px;
  }
    .widget-title {
      margin-bottom: 25px;
      @include font($bold, 1.625em, $font-raleway, 1.25);
      color: $color-text2;
      letter-spacing: -0.2px;
    }
    .more-services-list {
       > li {
         margin-bottom: 26px;
         a {
           color: $color-text2;
           text-decoration: none;
           &:hover {
              color: $color-text3;
           }
         }
         &:last-child {
           margin-bottom: 0;
         }
       }
    }

    .recent-articles-list {
      padding-top: 8px;
      > li {
        margin-bottom: 35px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          &:hover .recent-article-title {
            color: $color-text3;
          }
        }
      }
    }
        .recent-article-box {
          .content {
            padding-right: 20px;
            opacity: 0.5;
            * {
              font-size: 14px;
              color: $color-text2;
            }
          }
        }
          .recent-article-img-wrap {
            max-width: 206px;
            width: 100%;
            margin-bottom: 10px;
            img {
              max-width: 100%;
              height: auto;
            }
          }
          .recent-article-title {
            margin-bottom: 9px;
            @include font($bold, 1em, $font-main, 1.25);
            color: $color-text2;
            @include transition($transition-link);
          }


.content-box-wrap {
  max-width: calc(100% - 310px);
  padding-right: 30px;
}
  .news-list {
    > li {
      margin-bottom: 33px;
      padding-bottom: 40px;
      border-bottom: 1px solid #E5E6EB;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
    .news-box {
      .content {

      }
      a.btn,
      .btn {
        margin-top: 24px;
      }
      > a {
        text-decoration: none;
        &:hover .news-title {
          color: $color-text3;
        }
      }
    }
    .news-title {
      margin-bottom: 6px;
      @include font($bold, 1.875em, $font-raleway, 1.25);
      color: $color-text2;
      letter-spacing: -0.2px;
      @include transition($transition-link);
    }
    .news-date {
      display: block;
      margin-bottom: 26px;
      font-size: 14px;
      color: $color-text2;
      opacity: 0.5;
    }
    .news-img-wrap  {
      overflow: hidden;
      @include border-radius(6px);
      margin-bottom: 19px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .news-author {
      display: block;
      margin-bottom: 15px;
      font-weight: $medium;
      color: $color-text2;
      letter-spacing: 0.3px;
      opacity: 0.5;
      a {
        color: $color-text2;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
.wp-pagenavi {
  float: right;
  margin: 4px auto 0;
  padding-right: 80px;
  color: #40464b;
  font-size: 1.125em;
  font-weight: 400;
  .pages {
    display: none;
  }
  .curren {
    color: #000;
  }
  > * {
    padding: 0 10px;
    &.extend {
      padding: 0 7px;
    }
  }
  a {
    color: #40464b;
    &:hover {
      color: #fb7e22;
      text-decoration: none;
    }
    .fa-long-arrow-left,
    .fa-long-arrow-right {
      position: relative;
      top: 2px;
    }
  }
}