#sidebar {
  position: relative;
  left: -1px;
  float: right;
  width: 310px;
  margin-top: 88px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 6px;
  border-left: 1px solid #E5E6EB;
  &.big {
    width: 340px;
    padding-right: 0;
  }
}
  .sidebar-box {
    margin-top: -3px;
  }
  .widget-box {
    max-width: 412px;
    margin-bottom: 48px;
    &:last-child {
      margin-bottom: 55px;
    }
  }
    .widget-title {
      margin-bottom: 25px;
      @include font($bold, 1.625em, $font-raleway, 1.25);
      color: $color-text2;
      letter-spacing: -0.2px;
      .big & {
        font-weight: $medium;
      }
    }
    .more-services-list {
       > li {
         margin-bottom: 26px;
         a {
           color: $color-text2;
           text-decoration: none;
           &:hover,
           &:focus {
              color: $color-text3;
           }
         }
         &:last-child {
           margin-bottom: 0;
         }
       }
    }

    .recent-articles-list {
      padding-top: 8px;
      > li {
        margin-bottom: 35px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          &:hover .recent-article-title,
          &:focus .recent-article-title{
            color: $color-text3;
          }
          &:focus {
            img {
              outline: auto;
            }
          }
        }
      }
    }
        .recent-article-box {
          .content {
            padding-right: 20px;
            opacity: 0.5;
            * {
              font-size: 14px;
              color: $color-text2;
            }
          }
        }
          .recent-article-img-wrap {
            max-width: 206px;
            width: 100%;
            margin-bottom: 10px;
            img {
              max-width: 100%;
              height: auto;
            }
          }
          .recent-article-title {
            margin-bottom: 9px;
            @include font($bold, 1em, $font-main, 1.25);
            color: $color-text2;
            @include transition($transition-link);
          }

.section-page {
  overflow: hidden;
}
.content-box-wrap {
  position: relative;
  overflow: hidden;
  max-width: calc(100% - 310px);
  margin-bottom: 60px;
  padding-right: 30px;
  padding-bottom: 30px;
  &:after {
    position: absolute;
    content: '';
    width: 1px;
    height: calc(100% - 90px);
    top: 90px;
    right: 0;
    background-color: #E5E6EB;
  }
}
  .news-list {
    margin-bottom: 60px;
    > li {
      margin-bottom: 33px;
      padding-bottom: 40px;
      border-bottom: 1px solid #E5E6EB;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
    .news-box {
      .content {

      }
      a.btn,
      .btn {
        margin-top: 24px;
      }
      > a {
        text-decoration: none;
        &:hover .news-title,
        &:focus .news-title {
          color: $color-text3;
        }
        &:focus {
           img {
            outline: auto;
          }
        }
      }
    }
    .news-title {
      margin-bottom: 6px;
      @include font($bold, 1.875em, $font-raleway, 1.25);
      color: $color-text2;
      letter-spacing: -0.2px;
      @include transition($transition-link);
    }
    .news-date {
      display: block;
      margin-bottom: 26px;
      font-size: 14px;
      color: $color-text2;
      opacity: 0.5;
    }
    .news-img-wrap  {
      overflow: hidden;
      @include border-radius(6px);
      margin-bottom: 19px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .news-author {
      display: block;
      margin-bottom: 15px;
      font-weight: $medium;
      color: $color-text2;
      letter-spacing: 0.3px;
      opacity: 0.5;
      a {
        color: $color-text2;
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
.pagenavi-block {
  > span {
    display: inline-block;
    padding-right: 4px;
    margin-bottom: 15px;
    color: $color-text2;
    vertical-align: bottom;
  }
}
.wp-pagenavi {
  display: inline-block;
  color: $color-text2;
  font-size: 1em;
  font-weight: 400;
  .pages {
    display: none;
  }
  > * {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 10px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: top;
    @include css3-prefix('box-shadow', '0 1px 15px rgba(0, 0, 0, 0.1)');
    @include border-radius(3px);
    &.extend,
    &.previouspostslink,
    &.nextpostslink {
      box-shadow: none;
      color: #40464b;
    }
    &.extend {
        width: 45px;
    }
    &.current {
      color: #fff;
      background-color: $color-bg2;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    color: $color-text2;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $color-text3;
    }
    .fa-angle-left,
    .fa-angle-right {
      position: relative;
      top: 2px;
      font-size: 30px;
    }
  }
}