/*fonts*/
/*fonts-weight*/
/*fonts-size*/
/*line-height*/
/*colors*/
/*transition*/
/*border-radius*/
/*import global styles */
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 400 16px "Roboto", Arial, sans-serif;
  line-height: 1.6;
  background: #ffffff;
  color: #535674;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

select, input, textarea {
  font-size: 16px;
  vertical-align: middle;
  color: #2d3158; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit], button {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r {
  float: right !important; }

.float-l {
  float: left !important; }

.no-float {
  float: none !important; }

.no-border {
  border: 0 !important; }

.no-bg {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-display {
  display: none !important; }

.display {
  display: block !important; }

.inline {
  display: inline !important; }

.overflow {
  overflow: hidden !important; }

.align-r {
  text-align: right !important; }

.align-l {
  text-align: left !important; }

.align-c {
  text-align: center !important; }

.clear {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: 700; }

a, .btn {
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; }

.vertical-align .container {
  display: table;
  width: 100%;
  height: 442px;
  padding-top: 50px;
  padding-bottom: 50px; }
.vertical-align .container-box {
  display: table-cell;
  width: 100%;
  min-height: 50px;
  vertical-align: middle; }

.content * {
  margin-bottom: 25px;
  line-height: 1.6; }
  .content *:last-child {
    margin-bottom: 0; }
.content a {
  color: #535674; }
.content ul > li {
  position: relative;
  padding-left: 20px; }
  .content ul > li:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    top: 10px;
    left: 5px;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #12c1cc; }
.content ol {
  counter-reset: myCounter; }
  .content ol li {
    position: relative;
    padding-left: 20px; }
    .content ol li:before {
      position: absolute;
      top: 6px;
      left: 0;
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      color: #12c1cc;
      font: 700 1em "Roboto", Arial, sans-serif;
      line-height: 1; }
.content li {
  margin-bottom: 12px;
  text-align: left; }
.content strong, .content b {
  font-weight: 500;
  color: #2d3158; }
.content blockquote {
  position: relative;
  padding: 2px 30px 5px 22px;
  margin: 34px auto 30px;
  text-align: left;
  font-weight: 200;
  font-style: italic;
  letter-spacing: -0.3px;
  word-spacing: 0.4px; }
  .content blockquote:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #8638E4; }
  .content blockquote cite {
    display: block;
    font-weight: 500;
    font-style: italic; }
.content img {
  max-width: 480px;
  height: auto; }
  .content img.alignleft {
    float: left;
    margin: 9px 40px 22px 0; }
  .content img.alignright {
    float: right;
    margin: 9px 0 22px 40px; }
  .content img.aligncenter {
    display: block;
    margin: 9px auto 22px;
    clear: both; }
  .section-page .content img {
    max-width: 380px; }
.inverse .content {
  color: #ffffff; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  margin-bottom: -46px;
  padding-top: 232px; }
  .wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 46px; }
  .without-padding .wrapper {
    padding-top: 0; }

a.btn, .btn {
  position: relative;
  display: inline-block;
  min-width: 210px;
  margin: 0;
  padding: 13px 20px 13px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #FFB900;
  border: 2px solid #FFB900;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font: 700 16px "Raleway", Arial, sans-serif;
  line-height: 1.25;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  a.btn:hover, .btn:hover {
    color: #FFB900;
    background-color: transparent; }
  a.btn.inverse, .btn.inverse {
    color: #FFB900;
    background-color: transparent;
    border-color: #FFB900; }
    a.btn.inverse:hover, .btn.inverse:hover {
      color: #FFFFFF;
      background-color: #FFB900; }
  a.btn.small, .btn.small {
    min-width: 160px;
    padding: 9px 20px 7px; }
  a.btn.big, .btn.big {
    min-width: 200px;
    padding: 15px 20px 16px;
    font: 700 1.25em "Raleway", Arial, sans-serif;
    line-height: 1.25; }
  a.btn.btn-white, .btn.btn-white {
    color: #5F58C2;
    background-color: #ffffff;
    border-color: #ffffff; }
    a.btn.btn-white:hover, .btn.btn-white:hover {
      color: #ffffff;
      background-color: transparent; }
    a.btn.btn-white.inverse, .btn.btn-white.inverse {
      color: #ffffff;
      background-color: transparent; }
      a.btn.btn-white.inverse:hover, .btn.btn-white.inverse:hover {
        color: #5F58C2;
        background-color: #ffffff; }
  a.btn.btn-orange, .btn.btn-orange {
    color: #ffffff;
    background-color: #FF8400;
    border-color: #FF8400; }
    a.btn.btn-orange:hover, .btn.btn-orange:hover {
      color: #FF8400;
      background-color: transparent; }
    a.btn.btn-orange.inverse, .btn.btn-orange.inverse {
      color: #FF8400;
      background-color: transparent; }
      a.btn.btn-orange.inverse:hover, .btn.btn-orange.inverse:hover {
        color: #ffffff;
        background-color: #FF8400; }

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 65px;
  padding: 42px 0 40px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .header:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    right: 0; }
  .header.show {
    opacity: 1; }
  .header.scrolling {
    padding: 12px 0 10px;
    background-image: -moz-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
    background-image: -webkit-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
    background-image: -ms-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
    background-image: linear-gradient(-55deg, #07d0ce 0%, #8226bc 100%);
    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1); }
    .header.scrolling:after {
      background-color: rgba(0, 0, 0, 0.1); }
  .header.show-bg {
    background-image: -moz-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
    background-image: -webkit-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
    background-image: -ms-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
    background-image: linear-gradient(-55deg, #07d0ce 0%, #8226bc 100%); }

.logo {
  overflow: hidden;
  float: left;
  max-width: 179px;
  padding-top: 18px;
  padding-bottom: 15px;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .logo img {
    max-width: 100%;
    max-height: 100%;
    height: auto; }

.mobile-menu-wrap,
.mobile-menu-toggle {
  display: none; }

.mobile-menu-wrap {
  position: fixed;
  z-index: 99999;
  right: 0;
  height: 0;
  width: 0;
  top: 0;
  -webkit-transition-delay: 0.35s;
  -khtml-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -ms-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s; }
  .mobile-menu-wrap.showing {
    height: 100%;
    width: 100%;
    -webkit-transition-delay: 0s;
    -khtml-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }

.mobile-menu-overlay {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: opacity  0.35s;
  -khtml-transition: opacity  0.35s;
  -moz-transition: opacity  0.35s;
  -ms-transition: opacity  0.35s;
  -o-transition: opacity  0.35s;
  transition: opacity  0.35s; }
  .showing .mobile-menu-overlay {
    opacity: 1; }

.mobile-menu-box {
  position: absolute;
  overflow: auto;
  width: 370px;
  max-width: 80%;
  height: 100%;
  right: -400px;
  z-index: 2;
  padding-top: 60px;
  background-image: -moz-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
  background-image: -webkit-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
  background-image: -ms-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
  background-image: linear-gradient(-55deg, #07d0ce 0%, #8226bc 100%);
  -webkit-transition: right  0.35s;
  -khtml-transition: right  0.35s;
  -moz-transition: right  0.35s;
  -ms-transition: right  0.35s;
  -o-transition: right  0.35s;
  transition: right  0.35s;
  -webkit-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
  -khtml-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
  -moz-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
  -ms-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
  -o-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
  box-shadow: -10px 10px 30px rgba(0,0,0,0.2); }
  .showing .mobile-menu-box {
    right: 0; }

.mobile-menu-toggle {
  position: absolute;
  right: -1px;
  top: 0;
  height: 65px;
  width: 65px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 26px; }
  .mobile-menu-toggle span:before,
  .mobile-menu-toggle span:after,
  .mobile-menu-toggle span {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    height: 3px;
    width: 30px;
    background-color: #ffcc00;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all  0.35s;
    -khtml-transition: all  0.35s;
    -moz-transition: all  0.35s;
    -ms-transition: all  0.35s;
    -o-transition: all  0.35s;
    transition: all  0.35s; }
  .mobile-menu-toggle span {
    z-index: 999999;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .mobile-menu-toggle span:before {
    top: -9px; }
  .mobile-menu-toggle span:after {
    bottom: -9px; }
  .mobile-menu-toggle.active span {
    background-color: transparent; }
  .mobile-menu-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    background-color: #f7b940; }
  .mobile-menu-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0;
    background-color: #f7b940; }

/*--------------------------------------NAV-----------------------------------------*/
.main-nav > ul {
  margin: 24px -19px 0;
  text-align: center; }
  .main-nav > ul > li {
    position: relative;
    display: inline-block;
    padding: 0 19px;
    text-align: center; }
    .main-nav > ul > li a {
      position: relative;
      display: inline-block;
      font-family: "Raleway", Arial, sans-serif;
      font-size: 16px;
      letter-spacing: -0.2px;
      color: #ffffff;
      text-decoration: none; }

.main-nav a:hover,
.main-nav .current-menu-item > a {
  color: #ffcc00;
  text-decoration: none; }

.main-nav a:hover:after {
  opacity: 0.7; }

.mobile-menu {
  padding-bottom: 5px; }
  .mobile-menu > li {
    position: relative; }
    .mobile-menu > li a {
      position: relative;
      display: block;
      width: 100%;
      font-family: "Raleway", Arial, sans-serif;
      font-size: 16px;
      letter-spacing: -0.2px;
      color: #ffffff;
      padding: 15px 25px 13px;
      text-decoration: none; }
  .mobile-menu > .current-menu-item > a,
  .mobile-menu > li > a:hover {
    color: #ffcc00;
    text-decoration: none; }
  .mobile-menu .expanded:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 1;
    text-indent: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    margin-top: -8px;
    right: 10px;
    display: inline-block; }
  .mobile-menu:hover:after {
    color: #0097de; }
  .mobile-menu.open:after {
    content: "\f106"; }

.main-nav .sub-menu {
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: 10;
  top: 25px;
  left: -5px;
  min-width: 100%;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: all .2s ease-in-out;
  -khtml-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-image: -moz-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
  background-image: -webkit-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
  background-image: -ms-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
  background-image: linear-gradient(-55deg, #07d0ce 0%, #8226bc 100%); }

.main-nav ul {
  float: right; }
  .main-nav ul > li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    margin: 0; }
.main-nav .sub-menu li {
  display: block;
  min-width: 250px; }
.main-nav .sub-menu a {
  display: inline-block;
  margin: 5px 20px 5px 25px;
  text-decoration: none; }
.main-nav .sub-menu a:hover,
.main-nav .sub-menu .current-menu-item a {
  text-decoration: none; }

.main-nav .sub-menu .sub-menu,
.mobile-menu .sub-menu .sub-menu {
  display: none; }

.mobile-menu .sub-menu {
  display: block; }
  .mobile-menu .sub-menu a {
    font-size: 14px;
    padding-left: 40px;
    text-decoration: none; }
    .mobile-menu .sub-menu a:hover {
      text-decoration: none; }
  .mobile-menu .sub-menu .sub-menu {
    padding-left: 45px; }

#footer {
  position: relative;
  min-height: 46px;
  padding-top: 14px;
  padding-bottom: 10px;
  background-color: #2D3158; }

.copyright {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #ece5f2; }
  .copyright a {
    color: #ece5f2;
    text-decoration: none; }
    .copyright a:hover {
      text-decoration: underline; }

/* styles used throughout site */
.section-banner {
  background-image: -moz-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
  background-image: -webkit-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
  background-image: -ms-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
  background-image: linear-gradient(-55deg, #07d0ce 0%, #8226bc 100%); }
  .section-banner .container {
    display: table;
    width: 100%;
    height: 100%;
    padding: 160px 25px 40px; }
    .section-banner .container a.btn, .section-banner .container .btn {
      margin-top: 32px; }

.banner-img-box,
.banner-text-box {
  position: relative;
  z-index: 20;
  display: table-cell;
  min-height: 100px;
  padding: 1px 1px; }
  .banner-img-box:after,
  .banner-text-box:after {
    content: "";
    display: table;
    clear: both; }

.banner-text-box {
  position: relative;
  z-index: 20;
  width: 50%;
  padding-right: 8.33333%;
  vertical-align: middle; }

.banner-desc {
  display: block;
  margin-bottom: 14px;
  font: 300 2em "Raleway", Arial, sans-serif;
  line-height: 1.25;
  letter-spacing: 0.7px;
  color: #ffffff; }

.banner-title {
  font: 700 2.875em "Raleway", Arial, sans-serif;
  line-height: 1.25;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #ffffff; }
  .banner-title span {
    color: #ffcc00; }

.banner-img-box {
  position: relative;
  z-index: 15;
  width: 50%;
  height: 100%; }
  .banner-img-box img {
    position: absolute;
    max-width: calc(100% + 35px);
    height: auto;
    bottom: -153px;
    left: calc(50% + 65px);
    -webkit-transform: translate(-50%, 0);
    -khtml-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }

.swiper-banner.swiper-container {
  overflow: visible; }
.swiper-banner .swiper-slide {
  min-height: 400px;
  height: 100vh;
  max-height: 750px; }

.swiper-button-prev,
.swiper-button-next {
  width: 23px;
  height: 32px;
  margin-top: -16px;
  opacity: 0.5;
  background-image: none;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    opacity: 1; }

.swiper-button-prev .fa-chevron-left {
  font-size: 32px;
  color: #ffffff; }
.swiper-button-prev .fa-angle-left {
  font-size: 52px;
  color: #ffffff; }

.swiper-button-next .fa-chevron-right {
  font-size: 32px;
  color: #ffffff; }
.swiper-button-next .fa-angle-right {
  font-size: 52px;
  color: #ffffff; }

.swiper-banner .swiper-button-prev {
  width: 120px;
  height: 100%;
  top: 0;
  margin-top: auto;
  left: 0; }
  .swiper-banner .swiper-button-prev .fa-chevron-left {
    position: absolute;
    top: 50%;
    left: 60px;
    margin-top: -16px; }
.swiper-banner .swiper-button-next {
  width: 120px;
  height: 100%;
  top: 0;
  margin-top: auto;
  right: 0; }
  .swiper-banner .swiper-button-next .fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 60px;
    margin-top: -16px; }

.section-what-we-do {
  padding: 60px 0 60px;
  background: rgba(255, 255, 255, 0.12);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.12) 0%, rgba(250, 251, 253, 0.12) 50%, #fafbfd 50%, #fafbfd 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0.12)), color-stop(50%, rgba(250, 251, 253, 0.12)), color-stop(50%, #fafbfd), color-stop(100%, #fafbfd));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.12) 0%, rgba(250, 251, 253, 0.12) 50%, #fafbfd 50%, #fafbfd 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.12) 0%, rgba(250, 251, 253, 0.12) 50%, #fafbfd 50%, #fafbfd 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.12) 0%, rgba(250, 251, 253, 0.12) 50%, #fafbfd 50%, #fafbfd 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.12) 0%, rgba(250, 251, 253, 0.12) 50%, #fafbfd 50%, #fafbfd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafbfd', GradientType=1 ); }

.what-we-do-list {
  display: table;
  width: 100%;
  min-height: 506px;
  overflow: hidden; }
  .what-we-do-list > li {
    padding: 20px 0;
    display: table-cell;
    width: 50%;
    vertical-align: middle; }
    .what-we-do-list > li:last-child {
      padding: 0 10px;
      background-color: #FAFBFD; }

.what-we-box {
  padding-right: 16.66667%; }
  .what-we-box .content * {
    margin-bottom: 26px;
    line-height: 1.65; }
    .what-we-box .content *:last-child {
      margin-bottom: 0; }

.section-title {
  margin-bottom: 10px;
  font: 800 2.875em "Raleway", Arial, sans-serif;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  color: #2d3158; }
  .inverse .section-title {
    color: #ffffff;
    letter-spacing: 0.25px; }

.line {
  position: relative;
  margin-bottom: 32px; }
  .line:before, .line:after {
    position: absolute;
    content: '';
    bottom: -10px;
    height: 8px;
    background-color: #ffba00; }
  .line:before {
    width: 51px;
    left: 2px;
    -webkit-border-radius: 2em;
    -khtml-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-radius: 2em; }
  .line:after {
    width: 8px;
    left: 56px;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }

.swiper-what-we-do {
  max-width: 440px;
  margin: auto;
  text-align: center; }
  .swiper-what-we-do .swiper-button-prev .fa-chevron-left {
    color: #2d3158; }
  .swiper-what-we-do .swiper-button-prev .fa-angle-left {
    color: #2d3158; }
  .swiper-what-we-do .swiper-button-next .fa-chevron-right {
    color: #2d3158; }
  .swiper-what-we-do .swiper-button-next .fa-angle-right {
    color: #2d3158; }
  .swiper-what-we-do a.btn, .swiper-what-we-do .btn {
    min-width: 150px;
    margin-top: 35px; }

.what-we-img-wrap {
  max-height: 90px;
  margin: 0 auto;
  line-height: 90px; }
  .what-we-img-wrap img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; }

.what-we-title {
  margin-top: 40px;
  font: 800 1.125em "Raleway", Arial, sans-serif;
  line-height: 1.25;
  color: #2d3158;
  text-transform: uppercase;
  text-align: center; }

.section-got-challenge {
  position: relative;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #8226BC; }
  .section-got-challenge:after {
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -moz-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
    background-image: -webkit-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
    background-image: -ms-linear-gradient(145deg, #07d0ce 0%, #8226bc 100%);
    background-image: linear-gradient(-55deg, #07d0ce 0%, #8226bc 100%);
    opacity: 0.95; }
  .section-got-challenge .container {
    position: relative;
    z-index: 10; }
  .section-got-challenge .content {
    font: 300 1.375em "Roboto", Arial, sans-serif;
    line-height: 1.45; }
  .section-got-challenge a.btn, .section-got-challenge .btn {
    margin-top: 30px; }

.recent-works-list,
.recent-works-list.items-6 {
  overflow: hidden;
  background: #2aa0c9; }
  .recent-works-list > li,
  .recent-works-list.items-6 > li {
    overflow: hidden;
    position: relative;
    float: left;
    width: 50%;
    height: 640px; }
    .recent-works-list > li:hover .recent-work-overlay,
    .recent-works-list.items-6 > li:hover .recent-work-overlay {
      left: 0;
      z-index: 101; }
    .recent-works-list > li img,
    .recent-works-list.items-6 > li img {
      position: absolute;
      z-index: 100;
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -khtml-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .recent-works-list > li:nth-child(1),
    .recent-works-list.items-6 > li:nth-child(1) {
      width: 63.125%; }
    .recent-works-list > li:nth-child(4),
    .recent-works-list.items-6 > li:nth-child(4) {
      float: right;
      width: 63.125%; }
    .recent-works-list > li:nth-child(2), .recent-works-list > li:nth-child(3), .recent-works-list > li:nth-child(5), .recent-works-list > li:nth-child(6),
    .recent-works-list.items-6 > li:nth-child(2),
    .recent-works-list.items-6 > li:nth-child(3),
    .recent-works-list.items-6 > li:nth-child(5),
    .recent-works-list.items-6 > li:nth-child(6) {
      width: 36.875%;
      height: 320px; }
      .recent-works-list > li:nth-child(2) .recent-work-overlay, .recent-works-list > li:nth-child(3) .recent-work-overlay, .recent-works-list > li:nth-child(5) .recent-work-overlay, .recent-works-list > li:nth-child(6) .recent-work-overlay,
      .recent-works-list.items-6 > li:nth-child(2) .recent-work-overlay,
      .recent-works-list.items-6 > li:nth-child(3) .recent-work-overlay,
      .recent-works-list.items-6 > li:nth-child(5) .recent-work-overlay,
      .recent-works-list.items-6 > li:nth-child(6) .recent-work-overlay {
        padding: 25px 30px 25px; }
  .recent-works-list.items-5 > li:nth-child(4),
  .recent-works-list.items-6.items-5 > li:nth-child(4) {
    float: left;
    width: 36.875%; }
  .recent-works-list.items-5 > li:nth-child(5),
  .recent-works-list.items-6.items-5 > li:nth-child(5) {
    width: 63.125%;
    height: 640px; }
  .recent-works-list.items-4 > li:nth-child(4),
  .recent-works-list.items-6.items-4 > li:nth-child(4) {
    width: 100%; }
  .recent-works-list.items-2 > li:nth-child(1), .recent-works-list.items-2 > li:nth-child(2),
  .recent-works-list.items-6.items-2 > li:nth-child(1),
  .recent-works-list.items-6.items-2 > li:nth-child(2) {
    height: 640px;
    width: 50%; }
  .recent-works-list.items-1 > li:nth-child(1),
  .recent-works-list.items-6.items-1 > li:nth-child(1) {
    width: 100%; }

.recent-work-overlay {
  position: absolute;
  z-index: 10;
  display: table;
  width: calc(100% + 1px);
  height: 100%;
  top: 0;
  left: -101%;
  padding: 85px 60px 85px;
  background-color: rgba(45, 49, 88, 0.9);
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .recent-work-overlay .content {
    max-width: 500px; }

.recent-work-decs {
  display: table-cell;
  width: 100%;
  min-height: 50px;
  vertical-align: bottom;
  color: #ffffff; }

.recent-work-type {
  max-width: 500px;
  display: block;
  margin-bottom: 7px;
  font: 400 1.25em "Raleway", Arial, sans-serif;
  line-height: 1.25;
  color: #ffba00; }

.box-title {
  max-width: 500px;
  font: 800 2.25em "Raleway", Arial, sans-serif;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ffffff; }
  .box-title.line {
    margin-bottom: 38px; }
    .box-title.line:after, .box-title.line:before {
      bottom: -14px; }

#sidebar {
  float: right;
  width: 310px;
  margin-top: 88px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 6px;
  border-left: 1px solid #E5E6EB; }

.sidebar-box {
  margin-top: -3px; }

.widget-box {
  margin-bottom: 48px; }

.widget-title {
  margin-bottom: 25px;
  font: 700 1.625em "Raleway", Arial, sans-serif;
  line-height: 1.25;
  color: #2d3158;
  letter-spacing: -0.2px; }

.more-services-list > li {
  margin-bottom: 26px; }
  .more-services-list > li a {
    color: #2d3158;
    text-decoration: none; }
    .more-services-list > li a:hover {
      color: #ffcc00; }
  .more-services-list > li:last-child {
    margin-bottom: 0; }

.recent-articles-list {
  padding-top: 8px; }
  .recent-articles-list > li {
    margin-bottom: 35px; }
    .recent-articles-list > li:last-child {
      margin-bottom: 0; }
    .recent-articles-list > li a {
      text-decoration: none; }
      .recent-articles-list > li a:hover .recent-article-title {
        color: #ffcc00; }

.recent-article-box .content {
  padding-right: 20px;
  opacity: 0.5; }
  .recent-article-box .content * {
    font-size: 14px;
    color: #2d3158; }

.recent-article-img-wrap {
  max-width: 206px;
  width: 100%;
  margin-bottom: 10px; }
  .recent-article-img-wrap img {
    max-width: 100%;
    height: auto; }

.recent-article-title {
  margin-bottom: 9px;
  font: 700 1em "Roboto", Arial, sans-serif;
  line-height: 1.25;
  color: #2d3158;
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.section-page {
  overflow: hidden; }

.content-box-wrap {
  overflow: hidden;
  max-width: calc(100% - 310px);
  padding-right: 30px;
  padding-bottom: 90px; }

.news-list {
  margin-bottom: 60px; }
  .news-list > li {
    margin-bottom: 33px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E5E6EB; }
    .news-list > li:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none; }

.news-box a.btn,
.news-box .btn {
  margin-top: 24px; }
.news-box > a {
  text-decoration: none; }
  .news-box > a:hover .news-title {
    color: #ffcc00; }

.news-title {
  margin-bottom: 6px;
  font: 700 1.875em "Raleway", Arial, sans-serif;
  line-height: 1.25;
  color: #2d3158;
  letter-spacing: -0.2px;
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.news-date {
  display: block;
  margin-bottom: 26px;
  font-size: 14px;
  color: #2d3158;
  opacity: 0.5; }

.news-img-wrap {
  overflow: hidden;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 19px; }
  .news-img-wrap img {
    max-width: 100%;
    height: auto; }

.news-author {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  color: #2d3158;
  letter-spacing: 0.3px;
  opacity: 0.5; }
  .news-author a {
    color: #2d3158;
    text-decoration: none; }
    .news-author a:hover {
      text-decoration: underline; }

.pagenavi-block > span {
  display: inline-block;
  padding-right: 4px;
  margin-bottom: 15px;
  color: #2d3158;
  vertical-align: bottom; }

.wp-pagenavi {
  display: inline-block;
  color: #2d3158;
  font-size: 1em;
  font-weight: 400; }
  .wp-pagenavi .pages {
    display: none; }
  .wp-pagenavi > * {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 10px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: top;
    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    .wp-pagenavi > *.extend, .wp-pagenavi > *.previouspostslink, .wp-pagenavi > *.nextpostslink {
      box-shadow: none;
      color: #40464b; }
    .wp-pagenavi > *.extend {
      width: 45px; }
    .wp-pagenavi > *.current {
      color: #fff;
      background-color: #2D3158; }
    .wp-pagenavi > *:last-child {
      margin-right: 0; }
  .wp-pagenavi a {
    color: #2d3158;
    text-decoration: none; }
    .wp-pagenavi a:hover {
      color: #ffcc00; }
    .wp-pagenavi a .fa-angle-left,
    .wp-pagenavi a .fa-angle-right {
      position: relative;
      top: 2px;
      font-size: 30px; }

.news-details-header-box {
  margin-bottom: 18px; }

.section-article {
  padding-bottom: 92px; }
  .section-article .container {
    overflow: hidden;
    max-width: 1020px; }

.article-title-box {
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-bottom: 32px; }
  .article-title-box .section-title {
    margin-bottom: 32px; }
  .article-title-box img {
    position: absolute;
    z-index: 20;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .article-title-box img + .article-title-wrap {
      position: relative;
      display: table;
      width: 100%;
      min-height: 510px;
      padding: 58px 60px 58px; }
      .article-title-box img + .article-title-wrap:after {
        position: absolute;
        z-index: 30;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: -moz-linear-gradient(90deg, black 0%, transparent 100%);
        background-image: -webkit-linear-gradient(90deg, black 0%, transparent 100%);
        background-image: -ms-linear-gradient(90deg, black 0%, transparent 100%);
        background-image: linear-gradient(90deg, black 0%, transparent 100%); }
      .article-title-box img + .article-title-wrap .article-title-cell {
        position: relative;
        display: table-cell;
        width: 100%;
        min-height: 20px;
        z-index: 40;
        vertical-align: bottom; }
      .article-title-box img + .article-title-wrap .section-title {
        color: #ffffff;
        letter-spacing: 0;
        word-spacing: -1px; }
      .article-title-box img + .article-title-wrap .line {
        margin-bottom: 12px; }

/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (max-width: 1400px) {
  .wrapper {
    padding-top: 172px; }

  .header {
    padding: 22px 0 20px; }

  .section-banner .container {
    padding: 100px 30px 40px; }

  .swiper-banner .swiper-button-prev {
    width: 80px; }
    .swiper-banner .swiper-button-prev .fa-chevron-left {
      left: 5px; }
  .swiper-banner .swiper-button-next {
    width: 80px; }
    .swiper-banner .swiper-button-next .fa-chevron-right {
      right: 5px; } }
@media all and (max-width: 1280px) {
  .banner-text-box {
    padding-right: 20px; } }
@media all and (max-width: 1199px) {
  .swiper-banner .swiper-button-prev {
    width: 30px; }
  .swiper-banner .swiper-button-next {
    width: 30px; } }
@media all and (max-width: 1024px) {
  #sidebar {
    max-width: 240px; }

  .content-box-wrap {
    max-width: calc(100% - 240px); }

  .section-page .content img {
    max-width: 320px;
    height: auto; } }
@media all and (max-width: 991px) {
  .wrapper {
    padding-top: 100px; }

  .header,
  .header.scrolling {
    padding: 7px 0 6px; }

  .desktop {
    display: none !important; }

  .mobile-menu-wrap,
  .mobile-menu-toggle {
    display: block; }

  .logo {
    padding-top: 7px;
    padding-bottom: 0; }

  .banner-text-box,
  .banner-img-box {
    display: block;
    width: 100%;
    padding-right: 0; }

  .section-banner .container {
    padding: 65px 30px 0; }

  .swiper-banner .swiper-button-prev {
    width: 30px; }
    .swiper-banner .swiper-button-prev .fa-chevron-left {
      left: 0; }
  .swiper-banner .swiper-button-next {
    width: 30px; }
    .swiper-banner .swiper-button-next .fa-chevron-right {
      right: 0; }

  .swiper-banner .swiper-slide {
    height: auto;
    max-height: none; }

  .banner-img-box {
    margin-top: -40px; }
    .banner-img-box img {
      position: relative;
      width: auto;
      max-width: 570px;
      bottom: -80px;
      left: 50%; }

  .banner-text-box {
    padding-top: 40px;
    text-shadow: 1px 1px 2px rgba(45, 49, 88, 0.3); }

  .what-we-box {
    padding-right: 10px; }

  .swiper-what-we-do {
    max-width: 340px; }

  .recent-works-list > li:nth-child(1), .recent-works-list > li:nth-child(4), .recent-works-list > li:nth-child(5),
  .recent-works-list .items-6 > li:nth-child(1),
  .recent-works-list .items-6 > li:nth-child(4),
  .recent-works-list .items-6 > li:nth-child(5) {
    width: 60%;
    height: 400px; }
  .recent-works-list > li:nth-child(2), .recent-works-list > li:nth-child(3), .recent-works-list > li:nth-child(6),
  .recent-works-list .items-6 > li:nth-child(2),
  .recent-works-list .items-6 > li:nth-child(3),
  .recent-works-list .items-6 > li:nth-child(6) {
    width: 40%;
    height: 400px; }
  .recent-works-list.items-5 > li:nth-child(4),
  .recent-works-list .items-6.items-5 > li:nth-child(4) {
    float: left;
    width: 60%; }
  .recent-works-list.items-5 > li:nth-child(5),
  .recent-works-list .items-6.items-5 > li:nth-child(5) {
    width: 100%;
    height: 400px; }
  .recent-works-list.items-4 > li:nth-child(4),
  .recent-works-list .items-6.items-4 > li:nth-child(4) {
    width: 60%; }
  .recent-works-list.items-3 > li:nth-child(3),
  .recent-works-list .items-6.items-3 > li:nth-child(3) {
    width: 100%; }
  .recent-works-list.items-2 > li:nth-child(1), .recent-works-list.items-2 > li:nth-child(2),
  .recent-works-list .items-6.items-2 > li:nth-child(1),
  .recent-works-list .items-6.items-2 > li:nth-child(2) {
    height: 400px;
    width: 50%; }
  .recent-works-list.items-1 > li:nth-child(1),
  .recent-works-list .items-6.items-1 > li:nth-child(1) {
    width: 100%; }

  .recent-work-overlay {
    padding: 25px 15px 25px !important; }

  a.btn.big,
  .btn.big {
    padding: 12px 20px 13px;
    font-size: 1.1em; }

  .content img {
    max-width: 380px;
    height: auto; }
    .section-page .content img {
      max-width: 280px; }
    .content img.alignleft {
      float: left;
      margin: 9px 32px 22px 0; }
    .content img.alignright {
      float: right;
      margin: 9px 0 22px 32px; }

  .article-title-box img + .article-title-wrap {
    min-height: 410px;
    padding: 18px 20px 18px; }

  .article-title-box .section-title {
    margin-bottom: 16px; } }
@media all and (max-width: 860px) {
  .section-what-we-do {
    background: #ffffff;
    padding-top: 80px; }

  .what-we-do-list {
    display: block; }
    .what-we-do-list > li {
      display: block;
      width: 100%;
      margin-bottom: 50px; }
      .what-we-do-list > li:last-child {
        background-color: #ffffff;
        padding: 0;
        margin-bottom: 30px; }

  .content-box-wrap {
    max-width: 100%;
    padding-right: 0; }

  #sidebar {
    float: none;
    border: none;
    padding: 0;
    max-width: 600px;
    width: 100%; }

  .recent-article-img-wrap {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px; }

  .section-page .container {
    display: table;
    width: 100%; }
  .section-page .sidebar {
    display: table-footer-group; }

  .pagenavi-block {
    margin-bottom: 0; }

  .section-article {
    padding-bottom: 62px; }

  .content img {
    max-width: 480px;
    height: auto; }
    .section-page .content img {
      max-width: 480px; }
    .content img.alignleft {
      display: block;
      float: none;
      margin: 9px auto 22px; }
    .content img.alignright {
      display: block;
      float: none;
      margin: 9px auto 22px; }

  .article-title-box img + .article-title-wrap {
    min-height: 360px; } }
@media all and (max-width: 736px) {
  .recent-works-list > li,
  .recent-works-list .items-6 > li {
    width: 100% !important;
    height: 380px !important; }
  .recent-works-list .recent-work-overlay,
  .recent-works-list .items-6 .recent-work-overlay {
    padding: 25px 15px 25px; }

  .news-date {
    margin-bottom: 12px; }

  .news-img-wrap {
    margin-bottom: 6px; }

  .news-author {
    margin-bottom: 8px; }

  .news-box a.btn,
  .news-box .btn {
    margin-top: 18px; }

  .news-list {
    margin-bottom: 40px; }
    .news-list > li {
      margin-bottom: 23px;
      padding-bottom: 30px; }

  .widget-title {
    margin-bottom: 15px; }

  .widget-box {
    margin-bottom: 35px; }

  .more-services-list > li {
    margin-bottom: 16px; }
    .more-services-list > li:last-child {
      margin-bottom: 0; }

  .recent-article-img-wrap {
    margin-bottom: 0; }

  .recent-article-title {
    margin-bottom: 2px; }

  .recent-articles-list > li {
    margin-bottom: 20px; }
    .recent-articles-list > li:last-child {
      margin-bottom: 0; } }
@media all and (max-width: 640px) {
  .box-title {
    font-size: 2em; }
    .box-title.line {
      margin-bottom: 30px; }

  .banner-title,
  .section-title {
    font-size: 2.2em; }

  .banner-desc {
    font-size: 1.6em; }

  .article-title-box img + .article-title-wrap {
    min-height: 280px; }

  .article-title-box .section-title {
    margin-bottom: 8px; } }
@media all and (max-width: 600px) {
  .banner-img-box img {
    max-width: 100%; } }
@media all and (max-width: 560px) {
  .content img {
    max-width: 100%; }
    .section-page .content img {
      max-width: 100%; } }
@media all and (max-width: 480px) {
  .article-title-box img + .article-title-wrap {
    padding-left: 10px;
    padding-right: 10px; } }

/*# sourceMappingURL=screen.css.map */
