.input-style {
  display: block;
  width: 100%;
  margin: 0;
  min-height: 42px;
  @include font($normal, 16px, $font-os, 1.25);
  border: 1px solid $white;
  padding: 6px 14px;
  background-color: $white;
  @include transition($transition-other);
  @include border-radius($radius-small);
  &:hover,
  &:active,
  &:focus {
    border-color: $color-text3;
  }
  &.wpcf7-not-valid,
  &.error {
    border-color: #ff0000;
  }
}
textarea.input-style {
  line-height: 1.5;
  padding: 10px 12px;
  min-height: 198px;
  resize: none;
}
input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: $normal;
  font-family: $font-os;
  color: #bbbcce;
  @include transition($transition-other);
}
input::-moz-placeholder {
  font-size: 16px;
  font-weight: $normal;
  font-family: $font-os;
  color: #bbbcce;
  @include transition($transition-other);
}
input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: $normal;
  font-family: $font-os;
  color: #bbbcce;
  @include transition($transition-other);
}
input:-moz-placeholder {
  font-size: 16px;
  font-weight: $normal;
  font-family: $font-os;
  color: #bbbcce;
  @include transition($transition-other);
}

textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: $normal;
  font-family: $font-os;
  color: #bbbcce;
  @include transition($transition-other);
}
textarea::-moz-placeholder {
  font-size: 16px;
  font-weight: $normal;
  font-family: $font-os;
  color: #bbbcce;
  @include transition($transition-other);
}
textarea:-ms-input-placeholder {
  font-size: 16px;
  font-weight: $normal;
  font-family: $font-os;
  color: #bbbcce;
  @include transition($transition-other);
}
textarea:-moz-placeholder {
  font-size: 16px;
  font-weight: $normal;
  font-family: $font-os;
  color: #bbbcce;;
  @include transition($transition-other);
}


