/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; @include font(); background: $color-bg1; color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
  padding:0;
  margin:0;
  outline:none;
  list-style:none;
}
select, input, textarea        { font-size:$size-main; vertical-align:middle; color:$color-text; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit], button     { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

* {
  @include css3-prefix('box-sizing', 'border-box')
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: $bold;
}
a, .btn {
  @include transition($transition-link);
}
img {
  @include css3-prefix('user-select', 'none');
}
.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.vertical-align {
  .container {
    display: table;
    width: 100%;
    height: 442px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container-box {
    display: table-cell;
    width: 100%;
    height: 50px;
    vertical-align: middle;
  }
}

.content {
  * {
    margin-bottom: 25px;
    line-height: $line-height;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h1, h2 ,h3 ,h4 ,h5 ,h6 {
    margin-bottom: 12px;
    max-width: 735px;
    @include font($semi-bold, 2em, $font-raleway, 1.35);
    color: $color-text2;
    letter-spacing: 0.2px;
    //word-spacing: -0.7px;
  }
  h2 {
    font-size: 1.875em;
  }
  h3 {
    font-size: 1.675em;
  }
  h4, h5, h6 {
    font-size: 1.4em;
  }
  a {
    color: $color-text;
  }
  ul {
     > li {
       position: relative;
       padding-left: 20px;
       &:before {
         position: absolute;
         content: '';
         width: 5px;
         height: 5px;
         top: 10px;
         left: 5px;
         @include border-radius(50%);
         background-color: #12c1cc;
       }
    }
  }
  ol{
    counter-reset: myCounter;
    li {
      position: relative;
      padding-left: 20px;
      //margin-bottom: 24px;
      &:before {
        position: absolute;
        top: 5px;
        left: 0;
        counter-increment: myCounter;
        content:counter(myCounter)'.';
        color: #12c1cc;
        @include font($bold, 1em, $font-main, 1);
      }
    }
  }

  li {
    margin-bottom: 12px;
    text-align: left;
  }
  strong, b {
    font-weight: $medium;
    color: $color-text2;
  }
  blockquote {
    position: relative;
    padding: 2px 30px 5px 22px;
    margin: 34px auto 30px;
    text-align: left;
    font-weight: 200;
    font-style: italic;
    letter-spacing: -0.3px;
    word-spacing: 0.4px;
    &:before {
      position: absolute;
      content: '';
      width: 2px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #8638E4;
    }
    > * {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    cite, strong {
      display: block;
      font-weight: 500;
      font-style: italic;
    }
  }
  img {
    max-width: 480px;
    height: auto;
    &.alignleft {
      float: left;
      margin: 9px 40px 22px 0;
    }
    &.alignright {
      float: right;
      margin: 9px 0 22px 40px;
    }
    &.aligncenter{
      display: block;
      margin: 9px auto 22px;
      clear: both;
    }
    .section-page & {
      max-width: 380px;
    }
  }
  .inverse & {
    color: $white;
  }
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  margin-bottom: -46px;
  padding-top: 232px;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 46px;
  }
  .without-padding & {
    padding-top: 0;
  }
}

