/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
  > ul {
    margin: 24px -19px 0;
    text-align: center;
    > li {
      position: relative;
      display: inline-block;
      padding: 0 19px;
      text-align: center;
    }
  }
  a {
    position: relative;
    display: inline-block;
    font-family: $font-raleway;
    font-size: $size-nav;
    letter-spacing: -0.2px;
    color: $white;
    text-decoration: none;
  }
  a:hover,
  a:focus,
  .current-menu-item > a,
  .current-menu-ancestor > a {
    color: $color-text3;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    &:after {
      opacity: 0.7;
    }
  }
}
.single-news .menu-item-26 > a,
.single-case .menu-item-27 > a,
.single-service .menu-item-28 > a {
  color: $color-text3;
}

.mobile-menu {
  padding-bottom: 5px;
  > li {
    position: relative;
    a {
      position: relative;
      display: block;
      width: 100%;
      font-family: $font-raleway;
      font-size: $size-nav;
      letter-spacing: -0.2px;
      color: $white;
      padding: 15px 25px 13px;
      text-decoration: none;
    }
  }
  .current-menu-item > a,
  > li > a:hover,
  > li > a:focus {
    color: $color-text3;
    text-decoration: none;
  }
  .expanded:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 1;
    text-indent: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    margin-top: -8px;
    right: 10px;
    display: inline-block;
  }
  &:hover:after {
    color: #0097de;
  }
  &.open:after {
    content: "\f106";
  }
}

.main-nav .sub-menu {
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: 10;
  top: 25px;
  left: -5px;
  min-width: 100%;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  @include css3-prefix('transition', 'all .2s ease-in-out');
  @include bg_gradient();
}

.main-nav {
  ul {
    float: right;
    > li:hover .sub-menu,
    > li:focus .sub-menu{
      opacity: 1;
      visibility: visible;
      margin: 0;
    }
  }
  .sub-menu {
    li {
      display: block;
      min-width: 250px;
      margin-bottom: 7px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      display: block;
      margin: 5px 20px 5px 25px;
      text-decoration: none;
    }
    a:hover,
    a:focus,
    .current-menu-item a {
      text-decoration: none;
    }
  }
}

.main-nav .sub-menu .sub-menu,
.mobile-menu .sub-menu .sub-menu {
  display: none;
}

.mobile-menu .sub-menu {
  display: block;
  a {
    font-size: 14px;
    padding-left: 40px;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .sub-menu  {
    padding-left: 45px;
  }
}